canvas {
    padding-left: 0;
    padding-right: 0;
}

.container {
	width: 1000px;
    margin-left: auto;
    margin-right: auto;
	text-align:center;
}

.clear { clear: both; }

#game_canvas {
	border: 0px solid red;
	float: left;
}
#side_canvas {
	border: 0px solid red;
	float: right;
	background-color: cornflowerblue;
}

.menu { 
	background-image: 
		url('../assets/img/menu/menu-background0.png');
	height: 540px;
}
.menu img { margin-bottom: 0px;}
.menu #logo { margin: 5% 0% }
