canvas {
    padding-left: 0;
    padding-right: 0;
}

img { margin-bottom: 0px; }

@font-face {
    font-family: 'BadaBoom';
   /* src: url('../assets/fonts/BADABB.eot');
    src: url('../assets/fonts/BADABB.eot') format('embedded-opentype'),
         url('../assets/fonts/BADABB.woff') format('woff'),
         url('../assets/fonts/BADABB.ttf') format('truetype'),
         url('../assets/fonts/BADABB.svg#BadaBoomBBRegular') format('svg');*/
  	
    src: url('BADABB.eot');
    src: url('BADABB.eot') format('embedded-opentype'),
         url('BADABB.woff') format('woff'),
         url('BADABB.ttf') format('truetype'),
         url('BADABB.svg#BadaBoomBBRegular') format('svg');
    font-weight: normal;
  	font-style: normal;
  	letter-spacing: 2px;
}

.container {
	width: 990px;
	height: 540px;
    margin-left: auto;
    margin-right: auto;
	text-align:center;

	background-image:
		url('../assets/img/menu/menu-background0.png');
}

.area { height: 540px; }

.clear { clear: both; }

.menu_title { margin: 5% 0 1% 0;}

#canvas_area, #credits_area, #scores_area {
    display: none;
}

#scores_area {
	font-family: 'BadaBoom';
	font-size: 40px;
  	letter-spacing: 2px;
}

#credits_area img { text-align: center; }

#back_button, #back_button2 { margin-top: 2%; }

#game_canvas {
	font-family: 'BadaBoom';
	font-size: 20px;
	color: #FFFFFF;
  	letter-spacing: 2px;
	border: 0px solid red;
	float: left;
}

#side_canvas {
	float: right;
	background-image: url('../assets/img/canvasbg/bg3.png');
	background-position:bottom right;
}

#score_box {
	border: 0px solid red;
	margin: auto;
	width: 75%;
	height: 50%;
  	overflow-y: scroll;
  	text-align: center;
  	background:rgba(255,255,255, 0.5);
  	padding: 5px 0px;
}

#scoreTable {
	border: 0px solid blue;
	text-align: left;
	font-size: 35px;
}

#scoreTable th { 
	font-size: 40px; 
	padding-bottom: 8px; 
	border-bottom: 0px solid gray;
}